{% extends 'base.html' %}

{% block body %}


<h2 class = "text-center my-3"> All the Return Details </h2>
<div class="container">

  <form class="form-inline" method="get" action="return_details">
    <label class="sr-only" for="inlineFormInputName2">Name</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="searchname" placeholder="Enter Book or Member">
  
        
  
    <button type="submit" class="btn btn-primary mb-2">Search</button>
  </form>

 


    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Return Id</th>
            <th scope="col">Return Date</th>
            <th scope="col">Member Name</th>
            <th scope="col">Book Name</th>
            <th scope="col">Copies</th>              
            
          </tr>
        </thead>
        <tbody>

        {% for r in returns %}
        
         <tr>
            <td>{{r.Return_id}}</td>
            <td>{{r.Returndate}}</td>
            <td>{{r.Member.Member_Name}}</td>
            <td>{{r.Book.Book_Name}}</td>
            <td>{{r.Copies}}</td>

            
            
            

        

        </tr>


         {% endfor %}
        </tbody>
      </table>

</div>

{% endblock body %}